In [30]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["coreyshfer@example.com", "jandoe@gmail.com", "johndoe@email.com"]
}

In [31]:
import pandas as pd
df = pd.DataFrame(people)
df

   first     last                   email
0  Corey  Schafer  coreyshfer@example.com
1   Jane      Doe        jandoe@gmail.com
2   John      Doe       johndoe@email.com

In [32]:
df["email"]

0    coreyshfer@example.com
1          jandoe@gmail.com
2         johndoe@email.com
Name: email, dtype: object

In [33]:
df[["last", "email"]]

      last                   email
0  Schafer  coreyshfer@example.com
1      Doe        jandoe@gmail.com
2      Doe       johndoe@email.com

In [34]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [35]:
df.iloc[0]

first                     Corey
last                    Schafer
email    coreyshfer@example.com
Name: 0, dtype: object

In [36]:
df.iloc[[0, 1], 2]

0    coreyshfer@example.com
1          jandoe@gmail.com
Name: email, dtype: object

In [37]:
df.set_index("email", inplace=True)
df

                        first     last
email
coreyshfer@example.com  Corey  Schafer
jandoe@gmail.com         Jane      Doe
johndoe@email.com        John      Doe

In [38]:
filt = (df["last"] == "Doe") & (df["first"] == "John")
filt

email
coreyshfer@example.com    False
jandoe@gmail.com          False
johndoe@email.com          True
dtype: bool

In [39]:

df.loc[filt]

                  first last
email
johndoe@email.com  John  Doe

In [40]:
df.columns = ["first_name", "last_name"]

In [41]:
df.columns = [x.lower() for x in df.columns]
df

                       first_name last_name
email
coreyshfer@example.com      Corey   Schafer
jandoe@gmail.com             Jane       Doe
johndoe@email.com            John       Doe

In [42]:
df.rename(columns={"first_name": "first", "last_name": "last"}, inplace=True)
df

                        first     last
email
coreyshfer@example.com  Corey  Schafer
jandoe@gmail.com         Jane      Doe
johndoe@email.com        John      Doe

In [43]:
df["full_name"] = df["first"] + " " + df["last"]
df

                        first     last      full_name
email
coreyshfer@example.com  Corey  Schafer  Corey Schafer
jandoe@gmail.com         Jane      Doe       Jane Doe
johndoe@email.com        John      Doe       John Doe

In [44]:
df.drop(columns=["first", "last"], inplace=True)

In [45]:
df[["first", "last"]] = df["full_name"].str.split(" ", expand=True)

In [46]:
people = {
    "first": ["Tony", "Steve"],
    "last": ["Stark", "Rogers"],
    "email": ["ironman@avengers.com", "cap@avengers.com"]
}

df2 = pd.DataFrame(people)
df2.set_index("email", inplace=True)

In [48]:
n_df = pd.concat([df, df2])
n_df

                            full_name  first     last
email
coreyshfer@example.com  Corey Schafer  Corey  Schafer
jandoe@gmail.com             Jane Doe   Jane      Doe
johndoe@email.com            John Doe   John      Doe
ironman@avengers.com              NaN   Tony    Stark
cap@avengers.com                  NaN  Steve   Rogers

In [49]:
n_df.sort_index()

                            full_name  first     last
email
cap@avengers.com                  NaN  Steve   Rogers
coreyshfer@example.com  Corey Schafer  Corey  Schafer
ironman@avengers.com              NaN   Tony    Stark
jandoe@gmail.com             Jane Doe   Jane      Doe
johndoe@email.com            John Doe   John      Doe

In [51]:
n_df.sort_values(by=["last", "first"], ascending=[False, True])

                            full_name  first     last
email
ironman@avengers.com              NaN   Tony    Stark
coreyshfer@example.com  Corey Schafer  Corey  Schafer
cap@avengers.com                  NaN  Steve   Rogers
jandoe@gmail.com             Jane Doe   Jane      Doe
johndoe@email.com            John Doe   John      Doe