In [1]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["coreyshfer@example.com", "jandoe@gmail.com", "johndoe@email.com"]
}

In [2]:
import pandas as pd
df = pd.DataFrame(people)
df

   first     last                   email
0  Corey  Schafer  coreyshfer@example.com
1   Jane      Doe        jandoe@gmail.com
2   John      Doe       johndoe@email.com

In [3]:
df["email"]

0    coreyshfer@example.com
1          jandoe@gmail.com
2         johndoe@email.com
Name: email, dtype: object

In [4]:
df[["last", "email"]]

      last                   email
0  Schafer  coreyshfer@example.com
1      Doe        jandoe@gmail.com
2      Doe       johndoe@email.com

In [5]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [6]:
df.iloc[0]

first                     Corey
last                    Schafer
email    coreyshfer@example.com
Name: 0, dtype: object

In [7]:
df.iloc[[0, 1], 2]

0    coreyshfer@example.com
1          jandoe@gmail.com
Name: email, dtype: object

In [8]:
df.set_index("email", inplace=True)
df

                        first     last
email
coreyshfer@example.com  Corey  Schafer
jandoe@gmail.com         Jane      Doe
johndoe@email.com        John      Doe

In [9]:
filt = (df["last"] == "Doe") & (df["first"] == "John")
filt

email
coreyshfer@example.com    False
jandoe@gmail.com          False
johndoe@email.com          True
dtype: bool

In [10]:

df.loc[filt]

                  first last
email
johndoe@email.com  John  Doe

In [12]:
df.columns = ["first_name", "last_name"]

In [16]:
df.columns = [x.lower() for x in df.columns]
df

                       first_name last_name
email
coreyshfer@example.com      Corey   Schafer
jandoe@gmail.com             Jane       Doe
johndoe@email.com            John       Doe

In [18]:
df.rename(columns={"first_name": "first", "last_name": "last"}, inplace=True)
df

                        first     last
email
coreyshfer@example.com  Corey  Schafer
jandoe@gmail.com         Jane      Doe
johndoe@email.com        John      Doe

first     John
last     Smith
Name: coreyshfer@example.com, dtype: object